<h4>Choose the completion status for the offer:</h4>
<div class="status-holder">
  <div class="status-option-holder">
    <input type="radio" name=:status value="2" id="status_in" class="status-radio"/>
    <label for="status_in" class="status-radio-label">Hired In</label>
  </div>
  <div class="status-option-holder">
    <input type="radio" name=:status value="3" id="status_out" class="status-radio"/>
    <label for="status_out" class="status-radio-label">Hired Out</label>
  </div>
  <div class="status-option-holder">
    <input type="radio" name=:status value="4" checked id="status_closed" class="status-radio"/>
    <label for="status_closed" class="status-radio-label">Closed</label>
  </div>
</div>
<br/>