<h1>Complete Job Offer</h1>
<% form_for(@job_offer, "/job_offers/complete/#{@job_offer.id}") do |f| %>

  <%= partial 'job_offers/complete_form', :locals => { :f => f } %>

  <%= f.submit "Complete", :class => "btn btn-primary", :id => 'completeButton' %>
  <%= link_to 'Cancel', url_for(:job_offers, :my), :class => "btn btn-secondary", :id => 'cancelButton' %>
<% end %>